.full-card {
    background-color: #fff;
    .first-row {
        padding: 24px;
    }
    .head {
        color: gray;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        text-transform: uppercase;
    }
    .addButton {
        background-color: #01a89e;
        color: white;
    }
    .card {
        background-color: #fff;
        border: 1px solid #e0e0e0;
        width: 240px;
        margin-top: 20px;
        border-radius: 8px;
        min-height: 140px;
        padding: 20px;
        box-sizing: border-box;

        .name {
            font-weight: 600;
            font-size: 18px;
            text-align: center;
            cursor: pointer;
            padding-bottom: 10px;
        }
        .price {
            font-weight: 500;
            color: #212121;
        }
        .bottom-icon {
            display: none;
        }
        .icon {
            margin-top: 10px;
        }
    }
    .card:hover {
        .bottom-icon {
            display: block;
        }
    }
    .outer-table {
        overflow: auto;
    }
    table {
        width: 100%;
        box-shadow: none;
        min-width: 700px;
        .mat-header-cell {
            color: white;
            .mat-checkbox {
                color: white;
            }
        }
    }
    ::ng-deep .mat-table thead {
        background-color: #01a89e !important;
    }
    .profile {
        width: 90px;
        border-radius: 50%;
    }
}
.icon-color {
    color: rgb(177, 169, 169);
}
