.text {
    font-size: 24px;
}
.first-row {
    margin-bottom: 24px;
}
.dialog-content{
    font-size: 16px;
    color: #525151;
    margin-top: 20px;
}
.button-click {
    background-color: #01a89e;
    color: white;
    padding: 10px 28px;
    border-radius: 19px;
    cursor: pointer;
}
.button-click-no{
    background-color: transparent;
    color: #01a89e;
    border: 1px solid #01a89e;
}
.action{
    margin-top: 26px;
}